ion-card .image-container {
    position: relative;
    padding: 0;

    span:last-child{
        background: #ccc;
        padding: 3px;
        color: #333;
        font-size: 12px;
        border-radius: 2px;
        position: absolute;
        bottom: 10px;
        left: 16px;
    }

    span:first-child {
        background: #B22222;
        padding: 3px;
        color: #fff;
        font-size: 14px;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        right: 16px;
    }
}

ion-card-content {
    padding: 4px 6px !important;
}