<ion-header no-border>
  <ion-toolbar color="primary" fixed>
    <div slot="start">
      <img class="logo" src="./assets/imgs/logo.png" height="35" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>

    <ion-row *ngIf="!user">

      <ion-col size-xs="12" size-md="6">
        <div class="hero-container" text-center>
          <img class="hero-img" src="./assets/imgs/id-card-512.png" />
        </div>
      </ion-col>

      <ion-col size-xs="12" size-md="6" text-center>
        <div class="intro">
          <div>
            <h2 text-uppercase>{{ 'WELCOME_BACK' | translate }}</h2>
            <ion-text color="medium">
              <p class="bold custom-line-height">
                {{ 'WELCOME_TEXT' | translate }}
              </p>
            </ion-text>

            <div padding>
              <ion-button expand="block" shape="round" color="primary"
                (click)="onPresentSignInModal()">
                {{ 'CREATE_ACCOUNT_OR_LOGIN' | translate }}
              </ion-button>
            </div>

          </div>
        </div>
      </ion-col>

    </ion-row>

    <ion-row justify-content-center *ngIf="user">
      <ion-col no-padding size-xs="12" size-sm size-md size-lg="8">

        <div>
          <section class="heading">
            <ion-avatar>
              <img src-fallback=" ./assets/imgs/avatar.png"
                [src]="user?.attributes.photo?.url()" />
            </ion-avatar>
            <ion-text color="light">
              <h3>{{ user?.attributes.name }}</h3>
            </ion-text>

            <ion-button margin-vertical size="small" fill="clear" color="warning"
              (click)="onLogout()">
              {{ 'LOGOUT' | translate }}
            </ion-button>
          </section>

          <ion-list no-padding>
            <ion-item color="light" (click)="goTo('orders')">
              <ion-icon name="list-box" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'MY_ORDERS' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="goTo('payment')">
              <ion-icon name="card" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'PAYMENT' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="goTo('addresses')">
              <ion-icon name="pin" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'ADDRESSES' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="goTo('favorites')">
              <ion-icon name="heart" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'FAVORITES' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="onPresentChangePasswordModal()">
              <ion-icon name="lock" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'CHANGE_PASSWORD' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="onPresentEditModal()">
              <ion-icon name="create" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'EDIT_PROFILE' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item color="light" (click)="onPresentSettingsModal()">
              <ion-icon name="cog" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'SETTINGS' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="light" (click)="goTo('help')">
              <ion-icon name="help-buoy" slot="start" color="primary"></ion-icon>
              <ion-label>
                <p>{{ 'HELP' | translate }}</p>
              </ion-label>
              <ion-icon name="arrow-forward" slot="end" color="dark"></ion-icon>
            </ion-item>
          </ion-list>

        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>