// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~@angular/cdk/overlay-prebuilt.css';
@import '~@ngx-share/button/themes/default/default-theme';

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-Regular.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./assets/fonts/Quicksand-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo-SemiBold.ttf');
}

@font-face {
    font-family: 'Cairo';
    src: url('./assets/fonts/Cairo-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Bold.ttf');
    font-weight: bold;
}

/* hide scrollbar chrome */
* ::-webkit-scrollbar {
    display: none;
}

ion-menu .content {
    background: var(--ion-color-light);
}

.scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
}

.logo {
    display: block;
    margin: 0 6px;
}

.z-index-10 {
    z-index: 10;
}

.static {
    position: static !important;
}

.line {
    background: var(--ion-color-light);
    height: 1px;
    margin: 8px 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.bg-light {
    background: var(--ion-color-light);
}

.border-light {
    border: 1px solid var(--ion-color-light);
}

.menu-toolbar {

    padding-bottom: 0 !important;
    padding-left: 0 !important;
    ;
    padding-right: 0 !important;
    ;

    ion-avatar {
        img {
            display: inline-block;
            max-width: 8.6rem;
            max-height: 8.6rem;
            border-radius: 4.8rem;
            border: 2px solid var(--ion-color-light);
        }
    }
}

.bold {
    font-weight: bold !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ng-lazyloaded {
    animation: fadein .5s;
}

.full-width {
    width: 100% !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.circle:not(.loader) {
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 3px solid #ddd;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .circle-inner {
        padding: px;
        flex: 1;
        min-width: 0;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    p {
        color: var(--ion-color-light);
        font-size: 12px;
    }
}

.margin-6 {
    margin: 6px 0 !important;
}

.margin-6-horizontal {
    margin: 0 6px !important;
}

$primary-color: var(--ion-color-primary);

.primary-bg {
    background: var(--ion-color-primary);
}

.light-bg {
    background-color: var(--ion-color-light);
}

.divider {
    height: 1px;
    background: var(--ion-color-light-shade);
    border-bottom: 1px solid var(--ion-color-light-shade);
}

.center {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
    white-space: normal;
    line-height: 18px;
    transition: all .2s ease-in-out;
}

.text-medium {
    font-size: 13px !important;
}

.text-large {
    font-size: 18px !important;
}

.shadow {
    box-shadow: 0px 4px 15px rgba(80, 80, 80, 0.1) !important;
}

.radius {
    border-radius: 6px;
}

.no-radius {
    border-radius: 0 !important;
}

.no-shadow {
    box-shadow: none !important;
}

.no-margin {
    margin: 0 !important;
}

.hide {
    display: none;
}

.label[stacked] {
    margin-bottom: 6px !important;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

ion-toolbar ion-searchbar {
    height: 35px !important;
}

.plt-ios {
    ion-toolbar {
        --min-height: 60px;
    }
}

.plt-desktop {
    .link:hover {
        text-decoration: underline;
        cursor: pointer;
    }

}

$grid-breakpoints-lg: 992px;

@media (min-width: $grid-breakpoints-lg) {

    ion-header ion-toolbar[fixed],
    ion-tabs ion-tab-bar[fixed],
    ion-footer ion-toolbar[fixed] {
        margin: 0;
        padding-right: calc((100% - #{$grid-breakpoints-lg}) / 2);
        padding-left: calc((100% - #{$grid-breakpoints-lg}) / 2);
    }

    ion-tabs ion-tab-bar {
        justify-content: start;

        ion-tab-button {
            justify-content: start;
        }
    }

    ion-header ion-toolbar {
        --min-height: 70px;

        .logo {
            height: 50px;
        }
    }

    .circle {
        border-radius: 6px !important;
        width: 150px !important;
        height: 150px !important;
    }
}

// Fix lighbox display on iphone x
:root {

    lightbox gallery {
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

        .g-btn-close {
            padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
        }
    }
}

.StripeElement {
    background: #f4f5f8 !important;
    padding: 16px !important;
    margin: 0 5px;
}